<div class="group relative">
  <div
    class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
    <img [src]="category.image" [alt]="category.title"
      class="h-full w-full object-cover object-center lg:h-full lg:w-full">
  </div>
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a [routerLink]="['/list', category.name]">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {{ category.title }}
        </a>
      </h3>
    </div>
  </div>
</div>